.my-custom-scrollbar {
    position: sticky;
    height: 250px;
    overflow: auto;
}

.my-custom-scrollbar thead th {
    position: sticky;
    top: 0;
    /* background-color: lightskyblue; */
    background-color: #60C1FC;
    /* background-color: #60C1FC;001489 */
    /* background-color: #3393FF; */
    font-size: 13px;
}

.my-custom-scrollbar tbody td {
    font-size: 13px;
}

.table thead > tr 
{
    color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    /* background-color: lightyellow */
    background-color: #BFE5FC;
 }

 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #A5CCF9;
    /* background-color: #33C4FF; */
}